$font: "Barlow", sans-serif;
$yellow: rgb(255, 208, 0);
$main: rgb(255, 183, 100);
// $yellow: rgb(255, 240, 156);
// $main: blue;

body {
    font-family: $font;
    background-color: #290909;
    color: #fff;
    position: relative;
    background: transparent;

    &::before {
        content: "";
        position: fixed;
        background: #292929 top right no-repeat; //can place an image if you want
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

#landing {
    width: 100%;
    height: 100vh;
    background-image: url(../media/bridgecity.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        background: rgba(0, 0, 0, 0.35);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .landing-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
    }

    h1 {
        margin: 0 0 10px 0;
        font-size: 85px;
        font-family: $font;
        color: $yellow;
    }

    h2 {
        color: #ddd;
        margin-bottom: 50px;
        font-family: $font;
        font-size: 20px;
        font-weight: 30;
        letter-spacing: 5px;
        text-transform: uppercase;
    }

    .btn-scroll {
        transition: 0.5s;
        color: rgb(231, 231, 231);
        animation: up-down 1s ease-in-out infinite alternate-reverse both;

        p {
            font-size: 48px;
        }

        &:hover {
            color: $yellow;
        }
    }
}
///Contact info collumns//
.row-contact {
    background-color: transparent;
    position: fixed;
    left: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    height: 100px;
    color: red;
    font-size: 12px;
    svg {
        z-index: 2;
        fill: white;
    }

    .column-contact {
        padding: auto;
        margin: auto;
    }
}

.skills {
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill {
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: $font;
            color: #fff;

            .val {
                float: right;
                font-style: normal;
            }
        }
    }

    .progress-bar-wrap {
        background: lightgrey;
    }

    .progress-bar {
        height: 10px;
        transition: 1s;
        background: $yellow;
    }

    h1 {
        margin-top: 2rem;
        text-align: center;
    }
}

.resume {
    margin-top: 50px;
    .resume-title {
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
    }

    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid $main;
        position: relative;
        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $font;
            color: $yellow;
            margin-bottom: 10px;
        }
        h5 {
            font-size: 16px;
            background: rgb(0, 0, 0);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 20px;
            li {
                padding-bottom: 0;
            }
        }

        &:last-child {
            padding-bottom: 0;
        }

        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: $main;
            border: 2px solid white;
        }
    }
}

form div div {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    input.form-control,
    textarea.form-control {
        background-color: #fff;
        
    }

}

.input-block{
    padding: 15px;
    margin: 5px;
    background-color: $main;
}

.contact-wrap{
    right: 50%;
    margin: 50px;
    width: 40vw;
    padding: 30;
    float: right;
    
    .submit-button{
        border-radius: 10px;
    }

}

.col-sm-6{
    display: none;
}


.grid{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-row: 200px 200px;
    grid-column: 50% 50%;
    height: 400px;
    width: 100vw;
    margin: auto;
    div{
        display: flex;
        margin: auto;
        img{
            min-width: 20vw;
            min-height: 400px;
            border: 1px rgb(0, 0, 0) solid;
        }
        
    }
}
